{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="content">
    <h1>Products</h1>
    {% for product in products %}
    <p><a href="/{{ product.getId() }}">{{ product.getProductName() }}</a></p>
    {% endfor %}
</div>
{% endblock %}
